.loginDiv{
  width:330px;
  margin: auto;

}
.loginDiv form{
  display: flex;
  flex-direction: column;
}
.loginDiv form input{
  width:100%;
  margin-bottom: 10px;
  line-height: 20px;
  padding:5px 10px;
  border: 1px solid rgb(133, 133, 133);
  outline:none;
  font-size: 14px;
}
.loginDiv form button{
  font-size: 16px;
  line-height: 35px;
  border:1px solid ;
  background: #1a485f;
  border:1px solid #e6e2e2e3;
  border-radius: 3px;
  color:white;
}
